<div class="row">
    <div class="col-4">
        <button class="btn btn-success"(click)="getUser()">Get Users</button>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <ul>
            @for(item of userList; track $index)
            {
                <li>{{item.id}} - {{item.name}}</li>
            }
        </ul>
    </div>
    <div class="col-4">
        <button class="btn btn-success"(click)="getEmployee()">Get Employee</button>
    </div>
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Id</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
             @for(item of empList; track $index) {
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{item.employeeId}}</td>
                <td>{{item.employeeName}}</td>
                <td>{{item.contactNo}}</td>
                <td>{{item.emailId}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.role}}</td>
              </tr>
              }
            </tbody>
          </table>
    </div>
</div>