<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h5>Videos List</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some example text. Some example text.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some example text. Some example text.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some example text. Some example text.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                <h5>New Videos Form</h5>
            </div>
            <div class="card-body">
                 <div class="row">
                    <div class="col-12">
                        <label for="">Title</label>
                        <input type="text" class="form-control" placeholder="Title">
                    </div>
                    <div class="col-12">
                        <label for="">Video URL</label>
                        <input type="text" class="form-control" placeholder="Video URL">
                    </div>
                    <div class="col-12">
                        <label for="">Thumbnail</label>
                        <input type="text" class="form-control" placeholder="Thumbnail">
                    </div>
                    <div class="col-12">
                        <label for="">Duration</label>
                        <input type="text" class="form-control" placeholder="Duration">
                    </div>
                    <div class="col-12">
                        <label for="">Description</label>
                        <textarea class="form-control" placeholder="Description"></textarea>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-6 text-center">
                        <button class="btn btn-success">Reset</button>                   
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-danger">Save</button>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>