<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h5>Videos List</h5>
      </div>
      <div class="card-body">
        <div class="row">
          @for(item of videoList; track $index){
          <div class="col-3 pt-1 pb-1">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{item.videoTitle}}</h4>
                <p class="card-text">{{item.videoDescription}}</p>
                <a href="#" class="card-link">
                    <button class="btn btn-success btn-sm">Edit</button>
                </a>
                <a href="#" class="card-link">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </a>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        <h5>New Videos Form</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label for="">Title</label>
            <input type="text" [(ngModel)]="videoObj.videoTitle" class="form-control" placeholder="Title" />
          </div>
          <div class="col-12">
            <label for="">Video URL</label>
            <input type="text" [(ngModel)]="videoObj.videoUrl" class="form-control" placeholder="Video URL" />
          </div>
          <div class="col-12">
            <label for="">Thumbnail</label>
            <input type="text" [(ngModel)]="videoObj.videoThumbnail" class="form-control" placeholder="Thumbnail" />
          </div>
          <div class="col-12">
            <label for="">Duration</label>
            <input type="text" [(ngModel)]="videoObj.totalDuration" class="form-control" placeholder="Duration" />
          </div>
          <div class="col-12">
            <label for="">Description</label>
            <textarea [(ngModel)]="videoObj.videoDescription" class="form-control" placeholder="Description"></textarea>
          </div>

          <div class="row">
            <div class="col-6 text-center">
              <button class="btn btn-success">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-danger" (click)="onSaveVideo()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
